<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
  <h1>{{restaurant.name}}</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id)}}'>New Menu Item</a>
  {% for i in items %}
  <div>
    <p>{{i.name}}</p>
    <p>{{i.description}}</p>
    <p> {{i.price}} </p>
    <br>
    <a href='{{ url_for('editMenuItem', menu_id = i.id, restaurant_id = restaurant.id )}}'>Edit</a> <a href='{{ url_for('deleteMenuItem', menu_id = i.id, restaurant_id = restaurant.id )}}'>Delete</a>
  </div>
  {% endfor %}
</body>

</html>
